:root {
  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;
  --accent-color: #0a8bfe;
  --secondary-background-color: #0e0e33;
  --additional-background-color: #fafafa;
  --text-color: #737373;

}



body {
  /* font-family: 'Inter', sans-serif; */
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}
.header-link {
  font-size: 13px;
  line-height: 2.31;
  color: var(--primary-text-color);
}
.list {
    list-style: none;
}

a {
  text-decoration: none;
}

.header-btn {
  font-size: 15px;
  line-height: 2;
  color: var(--primary-text-color);
  font-family: inherit;
  padding: 12px 15px;
  border-radius: 4px;
  border: 1px solid var(--primary-text-color);
  background-color: transparent;
}

header {
  background-color: darkslategray;
}

.hero-header {
  font-size: 42px;
  line-height: 1.19;
}

.hero {
  background-color: teal;
}

.hero-text {
  font-size: 11px;
  line-height: 2.73;
}

.hero-btn {
  color: var(--primary-text-color);
  background: var(--accent-color);
  border-radius: 4px;
}
.partners {
   color: var(--text-color);
}
.title {
    font-size: 26px;
    line-height: 1.46;
color: var(--secondary-text-color)
}